In [18]:
from pytrends.request import TrendReq
import pandas as pd
from pandas import ExcelWriter
import time
from random import randint
import pytrends

In [2]:
username = 'ebao@toolsgroup.com'
password = 'blx112358'
pytrend = TrendReq(username,password)

keywords = {
            'ray-ban':['ray ban','ray-ban','ray ban sunglasses','ray ban wayfarer'],
            'ray-ban_vista':['ray ban vista','ray ban glasses','ray ban eyeglasses','ray ban frame','ray ban glasses frame'],
            'oakley':['oakley','oakley sunglasses','oakley goggles'],
            'oakley_vista':['oakley vista','oakley glasses','oakley eyeglasses','oakley frame','oakley glasses frame']
           }

geocodes = {
            'TURKEY':'Turkey',
            'INDIA':'India',
            'BRASIL':'Brazil',
            'JAPAN':'Japan',
            'KOREA':'Korea, Republic of',
            'ASTRL':'Australia',
            'MEXICO':'Mexico',
            'PHIL':'Philippines',
            'NORAME':['United States','Canada'],
            'CHI_HK':'Hong Kong'
           }

isofile = 'data/ISO 3166-1-alpha-2.csv'

In [3]:
def get_geo(geodict,isofile):
    """Load ISO country code file, given geocodes dict return a list of country codes"""
    iso = pd.read_csv(isofile)
    geolist = []
    
    for code,isoname in geodict.items():
    
        if type(isoname) == list:
            geolist.append([(iso.loc[iso['Name'] == c, 'Code'].values[0],code) for c in isoname])
        else:
            geolist.append((iso.loc[iso['Name'] == isoname, 'Code'].values[0],code))
            
    return geolist

In [4]:
def get_trend(brand,date=None,geo=None,hl=None,p1=5,p2=10):
    """
    Given Brand name return monthly google trend data (time > 36m), default time 47m. Loop predifeined keywords automaticlly.
    """
    global keywords
    
    if type(geo) != list:
        for i,w in enumerate(keywords[brand]):
            payload = {'q':w,
                       'date':'1/2013 47m', # 1/2013,14,15,10/16
                       'geo':None,
                       'hl':None
                      }
            if date != None:
                payload['date'] = date
            if geo != None:
                payload['geo'] = geo
            if hl != None:
                payload['hl'] = hl
            print(payload)
            try:
                if i == 0:
                    trend = pytrend.trend(payload, return_type='dataframe')
                    time.sleep(randint(p1,p2))
                if i > 0:
                    try:
                        trend[w+'_'+geo] = pytrend.trend(payload, return_type='dataframe')
                        time.sleep(randint(p1,p2))
                    except UnboundLocalError:
                        trend = pytrend.trend(payload, return_type='dataframe')
                        time.sleep(randint(p1,p2))
            except IndexError as e:
                print('%s on keyword: %s, resuming...' %(e,w))
                time.sleep(randint(p1,p2))
                pass
        try:
            trend['mean'] = trend.mean(axis=1)
        except UnboundLocalError:
            return None
        return trend
    else:
        for idx,g in enumerate(geo):
            if idx == 0:
                for i,w in enumerate(keywords[brand]):
                    payload = {'q':w,
                               'date':'1/2013 47m', # 1/2013,14,15,10/16
                               'geo':g,
                               'hl':None
                              }
                    if date != None:
                        payload['date'] = date
                    if hl != None:
                        payload['hl'] = hl
                    print(payload)
                    try:
                        if i == 0:
                            trend = pytrend.trend(payload, return_type='dataframe')
                            time.sleep(randint(p1,p2))
                        if i > 0:
                            try:
                                trend[w+'_'+geo[idx]] = pytrend.trend(payload, return_type='dataframe')
                                time.sleep(randint(p1,p2))
                            except UnboundLocalError:
                                trend = pytrend.trend(payload, return_type='dataframe')
                                time.sleep(randint(p1,p2))
                    except IndexError as e:
                        print('%s on keyword: %s, resuming...' %(e,w))
                        time.sleep(randint(p1,p2))
                        pass
            if idx > 0:
                for i,w in enumerate(keywords[brand]):
                    payload = {'q':w,
                               'date':'1/2013 47m', # 1/2013,14,15,10/16
                               'geo':g,
                               'hl':None
                              }
                    if date != None:
                        payload['date'] = date
                    if hl != None:
                        payload['hl'] = hl
                    print(payload)
                    try:
                        trend[w+'_'+geo[idx]] = pytrend.trend(payload, return_type='dataframe')
                        time.sleep(randint(p1,p2))
                    except IndexError as e:
                            print('%s on keyword: %s, resuming...' %(e,w))
                            time.sleep(randint(p1,p2))
                            pass
        try:
            trend['mean'] = trend.mean(axis=1)
        except UnboundLocalError:
            return None
        return trend

In [25]:
def save_xls(list_dfs, xls_path):
    writer = ExcelWriter(xls_path)
    for (df,luxcode) in list_dfs:
        try:
            df.to_excel(writer,'%s' %(luxcode))
        except AttributeError:
            pass
            
    writer.save()

In [5]:
def get_numbers(keywordsdict,geodict):
    """
    Calculate howlong to pause between each query, Google Rate Limit around 10/min
    """
    n_k = 0
    n_g = 0
    for k,v in keywordsdict.items():
        n_k += len(v)
    for k,v in geodict.items():
        if type(v) == list:
            n_g += len(v)
        else:
            n_g += 1
    time = n_k*n_g/10
    
    print('No. of keywords: %i\tNo. of countries: %i\nTotal query: %i\tTime needed: %4.1fm' %(n_k,n_g,n_k*n_g,time))

In [36]:
dflist = []
brand = 'oakley_vista'

In [37]:
def geotrends(brand,geolist,p1,p2):
    
    global dflist
    
    for code in geolist:
        if type(code) != list:
            isocode,luxcode = code
            print(isocode,luxcode)
            trend = get_trend(brand,geo=isocode)
            dflist.append((trend,luxcode))
            time.sleep(randint(p1,p2))
        else:
            isocode = [x for (x,y) in code]
            luxcode = list(set([y for (x,y) in code]))[0]
            print(' '.join(isocode) + ' ' + luxcode)
            trend = get_trend(brand,geo=isocode)
            dflist.append((trend,luxcode))
            time.sleep(randint(p1,p2))

In [38]:
while True:
    try:
        geotrends(brand,geos[len(dflist):],5,10)
        break
    except:
        print('ERROR PAUSING 5m')
        time.sleep(60*5)
        
save_xls(dflist,'data/Regional_Trend_Oakley_vista.xlsx')

IN INDIA
{'q': 'oakley vista', 'date': '1/2013 47m', 'hl': None, 'geo': 'IN'}
list index out of range on keyword: oakley vista, resuming...
{'q': 'oakley glasses', 'date': '1/2013 47m', 'hl': None, 'geo': 'IN'}
{'q': 'oakley eyeglasses', 'date': '1/2013 47m', 'hl': None, 'geo': 'IN'}
list index out of range on keyword: oakley eyeglasses, resuming...
{'q': 'oakley frame', 'date': '1/2013 47m', 'hl': None, 'geo': 'IN'}
list index out of range on keyword: oakley frame, resuming...
{'q': 'oakley glasses frame', 'date': '1/2013 47m', 'hl': None, 'geo': 'IN'}
list index out of range on keyword: oakley glasses frame, resuming...
PH PHIL
{'q': 'oakley vista', 'date': '1/2013 47m', 'hl': None, 'geo': 'PH'}
list index out of range on keyword: oakley vista, resuming...
{'q': 'oakley glasses', 'date': '1/2013 47m', 'hl': None, 'geo': 'PH'}
{'q': 'oakley eyeglasses', 'date': '1/2013 47m', 'hl': None, 'geo': 'PH'}
{'q': 'oakley frame', 'date': '1/2013 47m', 'hl': None, 'geo': 'PH'}
list index out of range on keyword: oakley frame, resuming...
{'q': 'oakley glasses frame', 'date': '1/2013 47m', 'hl': None, 'geo': 'PH'}
list index out of range on keyword: oakley glasses frame, resuming...
MX MEXICO
{'q': 'oakley vista', 'date': '1/2013 47m', 'hl': None, 'geo': 'MX'}
list index out of range on keyword: oakley vista, resuming...
{'q': 'oakley glasses', 'date': '1/2013 47m', 'hl': None, 'geo': 'MX'}
{'q': 'oakley eyeglasses', 'date': '1/2013 47m', 'hl': None, 'geo': 'MX'}
list index out of range on keyword: oakley eyeglasses, resuming...
{'q': 'oakley frame', 'date': '1/2013 47m', 'hl': None, 'geo': 'MX'}
list index out of range on keyword: oakley frame, resuming...
{'q': 'oakley glasses frame', 'date': '1/2013 47m', 'hl': None, 'geo': 'MX'}
list index out of range on keyword: oakley glasses frame, resuming...
HK CHI_HK
{'q': 'oakley vista', 'date': '1/2013 47m', 'hl': None, 'geo': 'HK'}
list index out of range on keyword: oakley vista, resuming...
{'q': 'oakley glasses', 'date': '1/2013 47m', 'hl': None, 'geo': 'HK'}
list index out of range on keyword: oakley glasses, resuming...
{'q': 'oakley eyeglasses', 'date': '1/2013 47m', 'hl': None, 'geo': 'HK'}
list index out of range on keyword: oakley eyeglasses, resuming...
{'q': 'oakley frame', 'date': '1/2013 47m', 'hl': None, 'geo': 'HK'}
list index out of range on keyword: oakley frame, resuming...
{'q': 'oakley glasses frame', 'date': '1/2013 47m', 'hl': None, 'geo': 'HK'}
list index out of range on keyword: oakley glasses frame, resuming...
KR KOREA
{'q': 'oakley vista', 'date': '1/2013 47m', 'hl': None, 'geo': 'KR'}
list index out of range on keyword: oakley vista, resuming...
{'q': 'oakley glasses', 'date': '1/2013 47m', 'hl': None, 'geo': 'KR'}
list index out of range on keyword: oakley glasses, resuming...
{'q': 'oakley eyeglasses', 'date': '1/2013 47m', 'hl': None, 'geo': 'KR'}
list index out of range on keyword: oakley eyeglasses, resuming...
{'q': 'oakley frame', 'date': '1/2013 47m', 'hl': None, 'geo': 'KR'}
list index out of range on keyword: oakley frame, resuming...
{'q': 'oakley glasses frame', 'date': '1/2013 47m', 'hl': None, 'geo': 'KR'}
list index out of range on keyword: oakley glasses frame, resuming...
TR TURKEY
{'q': 'oakley vista', 'date': '1/2013 47m', 'hl': None, 'geo': 'TR'}
list index out of range on keyword: oakley vista, resuming...
{'q': 'oakley glasses', 'date': '1/2013 47m', 'hl': None, 'geo': 'TR'}
list index out of range on keyword: oakley glasses, resuming...
{'q': 'oakley eyeglasses', 'date': '1/2013 47m', 'hl': None, 'geo': 'TR'}
list index out of range on keyword: oakley eyeglasses, resuming...
{'q': 'oakley frame', 'date': '1/2013 47m', 'hl': None, 'geo': 'TR'}
list index out of range on keyword: oakley frame, resuming...
{'q': 'oakley glasses frame', 'date': '1/2013 47m', 'hl': None, 'geo': 'TR'}
list index out of range on keyword: oakley glasses frame, resuming...
BR BRASIL
{'q': 'oakley vista', 'date': '1/2013 47m', 'hl': None, 'geo': 'BR'}
list index out of range on keyword: oakley vista, resuming...
{'q': 'oakley glasses', 'date': '1/2013 47m', 'hl': None, 'geo': 'BR'}
list index out of range on keyword: oakley glasses, resuming...
{'q': 'oakley eyeglasses', 'date': '1/2013 47m', 'hl': None, 'geo': 'BR'}
list index out of range on keyword: oakley eyeglasses, resuming...
{'q': 'oakley frame', 'date': '1/2013 47m', 'hl': None, 'geo': 'BR'}
list index out of range on keyword: oakley frame, resuming...
{'q': 'oakley glasses frame', 'date': '1/2013 47m', 'hl': None, 'geo': 'BR'}
list index out of range on keyword: oakley glasses frame, resuming...
US CA NORAME
{'q': 'oakley vista', 'date': '1/2013 47m', 'hl': None, 'geo': 'US'}
list index out of range on keyword: oakley vista, resuming...
{'q': 'oakley glasses', 'date': '1/2013 47m', 'hl': None, 'geo': 'US'}
{'q': 'oakley eyeglasses', 'date': '1/2013 47m', 'hl': None, 'geo': 'US'}
{'q': 'oakley frame', 'date': '1/2013 47m', 'hl': None, 'geo': 'US'}
{'q': 'oakley glasses frame', 'date': '1/2013 47m', 'hl': None, 'geo': 'US'}
list index out of range on keyword: oakley glasses frame, resuming...
{'q': 'oakley vista', 'date': '1/2013 47m', 'hl': None, 'geo': 'CA'}
list index out of range on keyword: oakley vista, resuming...
{'q': 'oakley glasses', 'date': '1/2013 47m', 'hl': None, 'geo': 'CA'}
{'q': 'oakley eyeglasses', 'date': '1/2013 47m', 'hl': None, 'geo': 'CA'}
{'q': 'oakley frame', 'date': '1/2013 47m', 'hl': None, 'geo': 'CA'}
{'q': 'oakley glasses frame', 'date': '1/2013 47m', 'hl': None, 'geo': 'CA'}
list index out of range on keyword: oakley glasses frame, resuming...
JP JAPAN
{'q': 'oakley vista', 'date': '1/2013 47m', 'hl': None, 'geo': 'JP'}
list index out of range on keyword: oakley vista, resuming...
{'q': 'oakley glasses', 'date': '1/2013 47m', 'hl': None, 'geo': 'JP'}
list index out of range on keyword: oakley glasses, resuming...
{'q': 'oakley eyeglasses', 'date': '1/2013 47m', 'hl': None, 'geo': 'JP'}
list index out of range on keyword: oakley eyeglasses, resuming...
{'q': 'oakley frame', 'date': '1/2013 47m', 'hl': None, 'geo': 'JP'}
list index out of range on keyword: oakley frame, resuming...
{'q': 'oakley glasses frame', 'date': '1/2013 47m', 'hl': None, 'geo': 'JP'}
list index out of range on keyword: oakley glasses frame, resuming...
AU ASTRL
{'q': 'oakley vista', 'date': '1/2013 47m', 'hl': None, 'geo': 'AU'}
list index out of range on keyword: oakley vista, resuming...
{'q': 'oakley glasses', 'date': '1/2013 47m', 'hl': None, 'geo': 'AU'}
{'q': 'oakley eyeglasses', 'date': '1/2013 47m', 'hl': None, 'geo': 'AU'}
list index out of range on keyword: oakley eyeglasses, resuming...
{'q': 'oakley frame', 'date': '1/2013 47m', 'hl': None, 'geo': 'AU'}
list index out of range on keyword: oakley frame, resuming...
{'q': 'oakley glasses frame', 'date': '1/2013 47m', 'hl': None, 'geo': 'AU'}
list index out of range on keyword: oakley glasses frame, resuming...

In [6]:
get_numbers(keywords,geocodes)

No. of keywords: 17	No. of countries: 11
Total query: 187	Time needed: 18.7m

In [7]:
geos = get_geo(geocodes,isofile)
geos

[('IN', 'INDIA'),
 ('PH', 'PHIL'),
 ('MX', 'MEXICO'),
 ('HK', 'CHI_HK'),
 ('KR', 'KOREA'),
 ('TR', 'TURKEY'),
 ('BR', 'BRASIL'),
 [('US', 'NORAME'), ('CA', 'NORAME')],
 ('JP', 'JAPAN'),
 ('AU', 'ASTRL')]

In [32]:
keywords

{'oakley': ['oakley', 'oakley sunglasses', 'oakley goggles'],
 'oakley_vista': ['oakley vista',
  'oakley glasses',
  'oakley eyeglasses',
  'oakley frame',
  'oakley glasses frame'],
 'ray-ban': ['ray ban', 'ray-ban', 'ray ban sunglasses', 'ray ban wayfarer'],
 'ray-ban_vista': ['ray ban vista',
  'ray ban glasses',
  'ray ban eyeglasses',
  'ray ban frame',
  'ray ban glasses frame']}

In [39]:
for x,y in dflist:
    if x is None:
        print(y)

CHI_HK
KOREA
TURKEY
BRASIL
JAPAN

In [64]:
brand = 'ray-ban_vista'
p1,p2 = 5,10

for code in geos[9:]:
    if type(code) != list:
        isocode,luxcode = code
        print(isocode,luxcode)
        trend = get_trend(brand,geo=isocode)
        dflist.append((trend,luxcode))
        time.sleep(randint(p1,p2))   
    else:
        isocode = [x for (x,y) in code]
        luxcode = list(set([y for (x,y) in code]))[0]
        print(' '.join(isocode) + ' ' + luxcode)
        trend = get_trend(brand,geo=isocode)
        dflist.append((trend,luxcode))
        time.sleep(randint(p1,p2))

KR KOREA
{'q': 'ray ban vista', 'hl': None, 'geo': 'KR', 'date': '1/2013 47m'}
list index out of range on keyword: ray ban vista, resuming...
{'q': 'ray ban glasses', 'hl': None, 'geo': 'KR', 'date': '1/2013 47m'}
list index out of range on keyword: ray ban glasses, resuming...
{'q': 'ray ban eyeglasses', 'hl': None, 'geo': 'KR', 'date': '1/2013 47m'}
list index out of range on keyword: ray ban eyeglasses, resuming...
{'q': 'ray ban frame', 'hl': None, 'geo': 'KR', 'date': '1/2013 47m'}
list index out of range on keyword: ray ban frame, resuming...
{'q': 'ray ban glasses frame', 'hl': None, 'geo': 'KR', 'date': '1/2013 47m'}
list index out of range on keyword: ray ban glasses frame, resuming...

In [66]:
for df,area in dflist:
    if df is None:
        print(df,area)

None JAPAN
None KOREA

In [51]:
dflist[-1][0]

            ray ban glasses  ray ban eyeglasses_PH  mean
Date
2013-01-01               32                     26  29.0
2013-02-01               57                     45  51.0
2013-03-01               42                     64  53.0
2013-04-01              100                     55  77.5
2013-05-01               93                     38  65.5
2013-06-01               10                     25  17.5
2013-07-01               18                     23  20.5
2013-08-01               28                     79  53.5
2013-09-01               56                     46  51.0
2013-10-01               36                    100  68.0
2013-11-01               68                     24  46.0
2013-12-01               60                     24  42.0
2014-01-01               44                     76  60.0
2014-02-01               29                     35  32.0
2014-03-01               42                     62  52.0
2014-04-01               46                     79  62.5
2014-05-01               90                     88  89.0
2014-06-01               27                     22  24.5
2014-07-01               43                     63  53.0
2014-08-01               49                     80  64.5
2014-09-01               16                     40  28.0
2014-10-01               55                     29  42.0
2014-11-01               74                     20  47.0
2014-12-01               25                     30  27.5
2015-01-01                8                     27  17.5
2015-02-01                8                     20  14.0
2015-03-01               37                     81  59.0
2015-04-01               31                     66  48.5
2015-05-01               44                     45  44.5
2015-06-01               41                     42  41.5
2015-07-01               19                     39  29.0
2015-08-01               40                     41  40.5
2015-09-01               46                     40  43.0
2015-10-01               13                     32  22.5
2015-11-01               54                     75  64.5
2015-12-01               63                     43  53.0
2016-01-01               32                     16  24.0
2016-02-01               45                     24  34.5
2016-03-01               31                     38  34.5
2016-04-01               45                     39  42.0
2016-05-01               33                     60  46.5
2016-06-01               18                     23  20.5
2016-07-01               40                     21  30.5
2016-08-01               22                     28  25.0
2016-09-01               47                     29  38.0
2016-10-01               28                     21  24.5
2016-11-01               46                     33  39.5

In [24]:
def save_xls(list_dfs, xls_path):
    writer = ExcelWriter(xls_path)
    for (df,luxcode) in list_dfs:
        try:
            df.to_excel(writer,'%s' %(luxcode))
        except AttributeError:
            pass
            
    writer.save()

In [71]:
save_xls(dflist,'data/Regional_Trend_Ray-Ban_vista.xlsx')